.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 13vh;


}

.navbar li img {
  height: 17px;
  width: 65px;
}

.logo {
  font-size: 35px;
  position: relative;
}

.logo img {
  width: 100px;
  top: 2px;
  position: absolute;
  z-index: -1;
}

.openMenu {
  display: none;
}

.closeMenu{
  display: none;
}

ul {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 30px;
}

.anchor {
  color: white;
  text-decoration: none;
  list-style: none;
}

ul li {
  list-style: none;
  cursor: pointer;
  font-size: 20px;
}

.navbarBtn {
  padding: 15px 20px;
  background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
  border-radius: 50px;
  color: white;
  border: 0;
  font-size: 17px;
  cursor: pointer;
  font-weight: 400;
}

@media (max-width:768px) {

.anchor .navbarBtn{
  display: none;
 } 

ul{
  flex-direction: column;
  height: 100vh;
  background-color: #1f0016;
  top: 0;
  position: fixed;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 20px;
  z-index: 4;
  width: 250px;
  gap: 50px;
  right: -400px;
  transition: right 0.3s ease-in;
} 
.closeMenu{
  display: flex;
position: absolute;
 height: 25px;
 top: 25px;
right: 20px;

 
} 
.openMenu{
  display: flex;
  margin-right: -80px;
  height: 23px;
  
}
ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 25px;
}
.navbar{
  justify-content: space-around;
}

}